/* --- LA SECTION FORMULAIRE --- */
.form-section {
    padding: 30px 25px;
    text-align: center;
    background-color: #2e004f; /* On met le même violet que l'affiche pour l'unité */
}
header-logo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: #ffffff; /* Petit bandeau blanc pour le logo */
}
.logo-img {
    height: 20px; /* Taille réduite */
    width: auto;
h3 { 
    margin: 0; 
    font-size: 22px; 
    color: #ffffff; /* BLANC pour le titre INSCRIPTION */
    letter-spacing: 1px;
}

subtitle { 
    color: #FFFFFF !important; 
    opacity: 0.9;
    font-size: 14px;
    margin-bottom: 20px;
}
}

.field { 
    text-align: left; 
    margin-bottom: 15px; 
}

.field label { 
    display: block; 
    font-size: 13px; 
    font-weight: bold; 
    margin-bottom: 5px; 
    color: #ffffff; /* BLANC pour les étiquettes (Nom, Email...) */
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #ffffff; /* On garde le fond des cases en blanc pour écrire dedans */
    color: #333333; /* Le texte que l'utilisateur tape sera noir */
}

/* LE BOUTON TURQUOISE */
button {
    width: 100%;
    background-color: #00a8af;
    color: white;
    border: none;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
